* {
  @apply border-border outline-ring/50;
}

body {
  @apply bg-background text-foreground;
}

.container {
  @apply mx-auto px-4;
}

h1 {
  @apply text-5xl font-bold;
}
h2 {
  @apply text-4xl font-bold;
}
h3 {
  @apply text-3xl font-bold;
}
h4 {
  @apply text-2xl font-bold;
}
h5 {
  @apply text-xl font-bold;
}
h6 {
  @apply text-lg font-bold;
}

th,
strong {
  @apply font-semibold;
}
