.driver-popover.driverjs-theme {
  background-color: #00A76F;
  color: #fff;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description{

  font-size: 20px;
}
.driver-popover.driverjs-theme button {
  flex: 1;
  text-align: center;
  background-color: #212B36;
  color: #ffffff;
  font-weight: 800;
  text-shadow: none;
  font-size: 13px;
  /* padding-left: 12px; */
  border-radius: 8px;
  border: none;
  height: 30px;
  line-height: 22px;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-left.driver-popover-arrow {
  border-left-color: #00A76F;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-right.driver-popover-arrow {
  border-right-color: #00A76F;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-top.driver-popover-arrow {
  border-top-color: #00A76F;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-bottom.driver-popover-arrow {
  border-bottom-color: #00A76F;
}

